body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

#container3D {
    position: fixed;
    inset: 0;
    z-index: 100; 
    pointer-events: none;
}

#containerPlanets{
    pointer-events: none;
    position: fixed;
    inset: 0;
    z-index: 102; 
}

#containerRoom3D {
    position: fixed;
    inset: 0;
    margin: 0;
}

#resetButton{
    display: none;
    position: absolute;
    bottom: 50px; 
    left: 50%; 
    transform: translateX(-50%); 
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 50px;
    border: white 2px solid;
    padding: 12px 20px;
    background-color: transparent;
}

#resetButton:hover{
    transition: 0.4s;
    cursor: pointer;
    color: black;
    background-color: white;
}

#infoPanel{
    display: none; 
    position: absolute; 
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: white; 
    padding: 20px; 
    border-radius: 8px; 
    width: 300px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#planetName{
    font-size: 20px;
    color: black;
    font-weight: 800;
}

#planetDescription{
    font-size: 15px;
    color: black;
    font-weight: 300;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    margin: 40px 120px;
    padding-bottom: 40px;
    border-bottom: white 1px solid;
    position: relative;
}

.nav a {
    text-decoration: none;
}

.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    inset: 0;
    z-index: -1;
}

.container {
    position: relative;
    z-index: 1; 
    height: 100%;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.logo h1{
    font-size: 20px;
    color: white;
    font-weight: 800;
}

.logo h1 span{
    font-weight: 300;
}

.menu-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.menu {
    position: absolute;
    left: 50%;
    transform: translateX(-63%); 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.menu p{
    font-size: 15px;
    color: white;
    font-weight: 500;
}

.contact{
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.contact p{
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 50px;
    border: white 2px solid;
    padding: 12px 20px;
}

.contact p:hover{
    transition: 0.4s;
    cursor: pointer;
    color: black;
    background-color: white;
}

.home {
    margin: 0 120px;
}

.home h1{
    color: white;
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 40px;
}

.home p{
    width: 45%;
    color: white;
    font-size: 15px;
    font-weight: 300;
}

.home p.buttonStart{
    width: auto;
    margin-top: 40px;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 20px;
    border: white 2px solid;
    border-radius: 50px;    
    display: inline-block;
}

.home p.buttonStart:hover{
    transition: 0.4s;
    cursor: pointer;
    color: black;
    background-color: white;
}

.orderPlanets{
    display: none;
    margin: 0 120px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.explanation {
    z-index: 101;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explanation p{
    color: white;
    font-size: 15px;
    font-weight: 300;
}

.explanation p.buttonConfirm{
    width: auto;
    margin-top: 40px;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 20px;
    border: white 2px solid;
    border-radius: 50px;    
    display: inline-block;
}

.explanation p.buttonConfirm:hover{
    transition: 0.4s;
    cursor: pointer;
    color: black;
    background-color: white;
}

.answerNamePlanets{
    margin: 175px 120px;
    display: flex;
    flex-direction: column;
}

.firstRow, .secondRow{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.secondRow{
    margin-top: 150px;
}

.planet{
    text-align: center;
    background-color: transparent;
    border: none;
    border-bottom: white solid 1px;
    padding-bottom: 5px;
    color: white;
    width: 150px;
    outline: none;
}

.qna, .structureMessage{
    margin: 0 120px;
    display: flex;
    justify-content: center;
}

.qna {
    position: relative;
}

.explanationMessage, .wellDone{
    display: none;
    align-items: flex-end;
    flex-direction: column;
    width: 35%;
}

.message, .messageWellDone{
    color: white;
    font-size: 15px;
    font-weight: 300;
}

p.buttonOk{
    color: white;
    width: auto;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 20px;
    border: white 2px solid;
    border-radius: 50px;    
    display: inline-block;
}

p.buttonOk:hover{
    transition: 0.4s;
    cursor: pointer;
    color: black;
    background-color: white;
}

p.buttonLetsGo{
    color: white;
    width: auto;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 20px;
    border: white 2px solid;
    border-radius: 50px;    
    display: inline-block;
}

p.buttonLetsGo:hover{
    transition: 0.4s;
    cursor: pointer;
    color: black;
    background-color: white;
}

.numberQuestion{
    display: none;
    position: absolute;
    left: 0;
    top: 0; 
}

.numberQuestion p {
    font-size: 50px;
    color: white;
    margin: 0;
    font-weight: 300;
}

.firstQuestion, .secondQuestion, .thirdQuestion, .fourthQuestion{
    display: none;
    width: 50%;
    flex-direction: column;
}

.firstQuestion p, .secondQuestion p, .thirdQuestion p, .fourthQuestion p{
    color: white;
    font-size: 15px;
    font-weight: 300;
}

#questionFirstInput, #questionSecondInput, #questionThirdInput, #questionFourthInput{
    text-align: center;
    background-color: transparent;
    border: none;
    border-bottom: white solid 1px;
    padding-bottom: 5px;
    color: white;
    width: 150px;
    outline: none;
}

p.confirmFirstQuestion{
    color: white;
    width: auto;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 20px;
    border: white 2px solid;
    border-radius: 50px;    
    display: inline-block;
}

p.confirmFirstQuestion:hover{
    transition: 0.4s;
    cursor: pointer;
    color: black;
    background-color: white;
}

p.confirmSecondQuestion{
    color: white;
    width: auto;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 20px;
    border: white 2px solid;
    border-radius: 50px;    
    display: inline-block;
}

p.confirmSecondQuestion:hover{
    transition: 0.4s;
    cursor: pointer;
    color: black;
    background-color: white;
}

p.confirmThirdQuestion{
    color: white;
    width: auto;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 20px;
    border: white 2px solid;
    border-radius: 50px;    
    display: inline-block;
}

p.confirmThirdQuestion:hover{
    transition: 0.4s;
    cursor: pointer;
    color: black;
    background-color: white;
}

p.confirmFourthQuestion{
    color: white;
    width: auto;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 20px;
    border: white 2px solid;
    border-radius: 50px;    
    display: inline-block;
}

p.confirmFourthQuestion:hover{
    transition: 0.4s;
    cursor: pointer;
    color: black;
    background-color: white;
}

.answer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.structureExplanation{
    display: none;
    align-items: center;
    justify-content: center;
}

.explanationSolarSystem{
    display: none;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explanationSolarSystem p{
    color: white;
    font-size: 15px;
    font-weight: 300;
}

#viewer {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: transparent; 
    z-index: 0;
}

.uploadFile{
    position: static;
    margin: 0 120px;
}

#file-input {
    position: fixed;
    top: 240px;
    z-index: 2;
}

.custom-file-input {
    appearance: none;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
    width: 125px;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Browse Files';
    display: inline-block;
    color: white;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
}

.custom-file-input:hover::before {
    background-color: white;
    color: black;
    transition: 0.3s;
}

.controls {
    position: absolute;
    top: 195px;
    right: 120px;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.controls label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Raleway', sans-serif;
    color: #333;
}

.choosePlanet{
    z-index: 3;
    position: relative;
    pointer-events: auto;
    margin: 145px 120px;
    max-width: 181px;
}

.choosePlanet input {
    margin: 5px;
}

.choosePlanet fieldset{
    z-index: 2;
    color: white;
    border-radius: 8px;
}

.explanationOrion {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    width: 80%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.closeButton:hover {
    color: red;
}
