body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

#container3D {
    position: fixed;
    inset: 0;
    z-index: 100; 
    pointer-events: none;
}

#containerPlanets{
    pointer-events: none;
    position: fixed;
    inset: 0;
    z-index: 102; 
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    margin: 40px 120px;
    padding-bottom: 40px;
    border-bottom: white 1px solid;
}

.nav img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    inset: 0;
    z-index: -1;
}

.container {
    position: relative;
    z-index: 1; 
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.logo h1{
    font-size: 20px;
    color: white;
    font-weight: 800;
}

.logo h1 span{
    font-weight: 300;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-grow: 1;
}

.menu p{
    font-size: 15px;
    color: white;
    font-weight: 500;
}

.contact{
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.contact p{
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 50px;
    border: white 2px solid;
    padding: 12px 20px;
}

.contact p:hover{
    cursor: pointer;
    background-color: rgb(11, 11, 51);
    border: rgb(11, 11, 51) 2px solid;
}

.home {
    margin: 0 120px;
}

.home h1{
    color: white;
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 40px;
}

.home p{
    width: 45%;
    color: white;
    font-size: 15px;
    font-weight: 300;
}

.home p.buttonStart{
    width: auto;
    margin-top: 40px;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 20px;
    border: white 2px solid;
    border-radius: 50px;    
    display: inline-block;
}

.home p.buttonStart:hover{
    cursor: pointer;
    background-color: rgb(11, 11, 51);
    border: rgb(11, 11, 51) 2px solid;
}

.orderPlanets{
    display: none;
    margin: 0 120px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.explanation {
    z-index: 101;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explanation p{
    color: white;
    font-size: 15px;
    font-weight: 300;
}

.explanation p.buttonConfirm{
    width: auto;
    margin-top: 40px;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 20px;
    border: white 2px solid;
    border-radius: 50px;    
    display: inline-block;
}

.explanation p.buttonConfirm:hover{
    cursor: pointer;
    background-color: rgb(11, 11, 51);
    border: rgb(11, 11, 51) 2px solid;
}

.answerNamePlanets{
    margin: 175px 120px;
    display: flex;
    flex-direction: column;
}

.firstRow, .secondRow{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.secondRow{
    margin-top: 150px;
}

.planet{
    text-align: center;
    background-color: transparent;
    border: none;
    border-bottom: white solid 1px;
    padding-bottom: 5px;
    color: white;
    width: 150px;
    outline: none;
}

.qna, .structureMessage{
    margin: 0 120px;
    display: flex;
    justify-content: center;
}

.explanationMessage, .wellDone{
    display: none;
    align-items: flex-end;
    flex-direction: column;
    width: 35%;
}

.message, .messageWellDone{
    color: white;
    font-size: 15px;
    font-weight: 300;
}

p.buttonOk{
    color: white;
    width: auto;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 20px;
    border: white 2px solid;
    border-radius: 50px;    
    display: inline-block;
}

p.buttonOk:hover{
    cursor: pointer;
    background-color: rgb(11, 11, 51);
    border: rgb(11, 11, 51) 2px solid;
}

p.buttonLetsGo{
    color: white;
    width: auto;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 20px;
    border: white 2px solid;
    border-radius: 50px;    
    display: inline-block;
}

p.buttonLetsGo:hover{
    cursor: pointer;
    background-color: rgb(11, 11, 51);
    border: rgb(11, 11, 51) 2px solid;
}

.numberQuestion{
    display: none;
    position: absolute;
}

.firstQuestion, .secondQuestion, .thirdQuestion, .fourthQuestion{
    display: none;
    width: 50%;
    flex-direction: column;
}

.firstQuestion p, .secondQuestion p, .thirdQuestion p, .fourthQuestion p{
    color: white;
    font-size: 15px;
    font-weight: 300;
}

#questionFirstInput, #questionSecondInput, #questionThirdInput, #questionFourthInput{
    text-align: center;
    background-color: transparent;
    border: none;
    border-bottom: white solid 1px;
    padding-bottom: 5px;
    color: white;
    width: 150px;
    outline: none;
}

p.confirmFirstQuestion{
    color: white;
    width: auto;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 20px;
    border: white 2px solid;
    border-radius: 50px;    
    display: inline-block;
}

p.confirmFirstQuestion:hover{
    cursor: pointer;
    background-color: rgb(11, 11, 51);
    border: rgb(11, 11, 51) 2px solid;
}

p.confirmSecondQuestion{
    color: white;
    width: auto;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 20px;
    border: white 2px solid;
    border-radius: 50px;    
    display: inline-block;
}

p.confirmSecondQuestion:hover{
    cursor: pointer;
    background-color: rgb(11, 11, 51);
    border: rgb(11, 11, 51) 2px solid;
}

p.confirmThirdQuestion{
    color: white;
    width: auto;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 20px;
    border: white 2px solid;
    border-radius: 50px;    
    display: inline-block;
}

p.confirmThirdQuestion:hover{
    cursor: pointer;
    background-color: rgb(11, 11, 51);
    border: rgb(11, 11, 51) 2px solid;
}

p.confirmFourthQuestion{
    color: white;
    width: auto;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 20px;
    border: white 2px solid;
    border-radius: 50px;    
    display: inline-block;
}

p.confirmFourthQuestion:hover{
    cursor: pointer;
    background-color: rgb(11, 11, 51);
    border: rgb(11, 11, 51) 2px solid;
}

.answer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}